.pubBig{
  height: auto;
  width: 100%;
  padding: 50px;
  padding-top:100px;
}

.pubCont {
  padding:30px;
  width: 100%;
  height: auto;
  display: flex;
  align-items:center;
  
}
.innerpC {
  margin:auto;
  position: relative;
  width: 90%;
  padding:40px;
  border-radius:6px
}
.inns{
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 6px;
  border-collapse: separate; 
  perspective: 1px;
  margin-bottom:20px;
  text-align:center;
  padding:20px;

}
.pubTitl{
  margin: auto;
  font-size: 25px;
  font-weight:bold;
  list-style-type: none;
}
.pubAuth{
  margin: auto;
  font-size: 20px;
  list-style-type: none;
}
.pubInt {
  margin: auto;
  font-size: 30px;
  text-align: center;
  list-style-type: none;
  }
  .pubDate{
    margin: auto;
    font-size: 20px;
    list-style-type: none;
  }
  .pubCite{
    margin: auto;
    font-size: 20px;
    list-style-type: none;
  }

.barDiv {
  position:relative;
  width: 100%;
  padding-bottom: 100px;
  float: right;
  display:flex;
  flex-direction:column;
}

.titlCit{
    font-size:60px;
    color:#2b2b3b;
    text-align:center;
}

.mainCont{
  width:100%;
  height:auto;
}
.cCont{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    text-align:center;
    width:60%;
    height:auto;
    align-items:center;
    margin:auto;
    color:black;
    border-radius:6px;
    margin-top:30px;
    padding:20px;
    display:flex;

}

.cT{
  width:40%;
  font-size:70px;
  color:#2b2b3b;
  text-align:left;
}
.cC{
  float:right;
  width:100%;
  padding-left:15px;
  margin-left:100px;
  text-align:left;
  border-left: 2px solid #2b2b3b;
}

.cI{
  text-align:left;
  list-style-type: none;
  font-size:30px;
  color:#232b78;
  padding-bottom:10px;
}
@media only screen and (max-width: 700px){
 .pTitl{
   font-size:40px;
   text-align:center;

 }
 .inns{
   padding:10px;
 }
 .innerpC{
   padding:0;
 }
 .cCont{
   flex-direction:column;
   width:80%;
 }
 .cT{
   width:100%;
   text-align:center;
   border:none;

 }
 .cC{
   width:100%;
   margin:0;
   border:none;

 }
 .cI{
   text-align:center;
 }
}

