.chroHold{
    width:100%;
    height:auto;
    padding:50px;
    padding-bottom:100px;
    padding-top:100px;
}

.css-15qp7aj-TimelineContentContainer.horizontal{
    height:50%;
}
.chroHold{
    min-height:120vh;
}