.navi{
    color:white;
    font-family: "Monserrat-700", sans-serif;
    font-size:40px;
    height:100px;
}
.navWords{
    float:right;
}
.brand{
    position:absolute;
    top:0;
    left:10px;
}

.LinksA{
    font-size:25px;
    padding:30px;
    text-decoration:none;
}
.Links{
    font-size:25px;
    padding:30px;
    text-decoration: underline 0.15em;

}



@media (max-width: 800px) {
    .navi{
        flex-direction: column;
        background-color: white;
        text-align:center;
        position: fixed;
        top: 0;
        right: 0;
        height: auto;
        width: 200px;
        padding-top: 4.5rem;
        margin:auto;
        padding-right:30px;
        border-radius:6px;

    }

.LinksA{
color:white !important;
}
.Links{
color:white !important;

}


  }
