.footer {
    width: 100%;
    border-top:1px solid #1d2679 ; position:fixed;
    bottom:0;
    left:0;
    padding:20px;
   }

.footer-info{
    float:left;
    color:#183e73;
    font-size:15px;
}
.social-container{
    margin:auto;
    position:relative;
    float:right;
    height:100%;

}
.mck{
    margin-right:10px;
}
.social{
    color:black;
    overflow:hidden;
    font-size: 10px !important;
    position:absolute;
}
.ico{
    display: inline;
   padding:30px;
}
.fa{
    font-size:20px;
    color:black
}
@media only screen and (max-width: 576px){
 .footer-info{
     display:none;
 }
 .social-container{
     float:none;
     width:100%;
     margin:0;
 }
 .icons{
     width:100%;
     justify-content:space-between;
 }


}
