.hmPage{
    height:180vh;
    width:100%;
    display:flex;
    background-image: url('../../Assets/1.svg');
    background-repeat: no-repeat;
    padding-bottom:100px;
    padding-top:50px;
}
.hmText{
    padding-top:220px;
    display:flex;
    flex-direction:column;
    align-items: right;
    color:#183e73;
    width:50%;
    float:left;
    margin-left:50px;
}

.socials{
    height:100%;
    display:flex;
    flex-direction:column;
    align-items: right;
    justify-content: center;
    color:#183e73;
    width:50%;
    float:left;
    margin-left:50px;
}
.hmTitle{
    margin-bottom:30px;
    font-family: 'Montserrat-700', sans-serif;
    font-size:70px;
    color:#2b2b3b;
}
.hmPar{
    font-size:35px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom:40px;

}
.hmPic{
    margin-top:100px;
    width:40%;
    float:right;
    justify-content: center;
    align-items:center;

}
.aj{
    margin:auto;   margin-top:40px;
    margin-left:100px;
    max-width:100%;
    height:550px;
    border-radius: 50%;
    position:relative;

}

.i{
    display: flex;
    width: 50%;
    justify-content: space-between;
    list-style:none;
    align-items:center;
}


.fas{
    height:20px;
    width:auto;
    list-style:none;

}
.fas:hover{
    color:black;
    opacity: .5;
}
.button{
    margin-top:40px;
    background-color:transparent;
    color:#183e73;
    border:1px solid #232b79;
    width:130px;
    height:60px;
    font-size:20px;

}
.button:hover{
    background-color:#232b79;

}
@media only screen and (max-width: 700px){
    .hmPage{
        flex-direction:column;
        height:auto;
    }
    .hmText{
        margin:0;
        padding:0;
        text-align:center;
        margin:auto;
        margin-top:80px;
        font-size:60px;
        width:100%;
    }
    .hmPic{
        width:100%;
        float:none;
        height:auto;
    }
    .aj{
        height:auto;
        width:100%;
        padding:20px;
        margin:auto;
    }

    .hmTitle{
        font-size:70px;
        width:100%;
    }
    .hmPar{
        font-size:30px;
        font-family: 'Montserrat', sans-serif;
    
    }
    .i{
    margin:auto;
        width:100%;
        padding:40px;
    }
    .button{
        margin:auto;
        margin-top:20px;
    }
}

