@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&family=Archivo:wght@100&family=Inter:wght@300&family=Manrope:wght@200&family=Montserrat:wght@300;700&display=swap');

html, body, .App{
  height: 100%;
  font-family: 'Montserrat-700', sans-serif;
}

.App {
    background: linear-gradient(300deg,#3241ed,#4b539d,#7b9be1,#a8beed);
    background-size: 240% 240%;
    animation: gradient-animation 24s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }